<div id="about" class="cs-about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="cs-about-image">
                    <img src="assets/images/hr2.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="cs-about-content">
                    <span class="sub-title">About Us</span>
                    <h2>About <span>F&R Logistics</span></h2>
                    <p>With 10+ years of experience spread across the interstate carrier, same-day local courier, and
                        freight management industries, our experience equips us to help our clients navigate the
                        stresses and complexities of the supply chain.</p>
                    <p>The recent past has emphasised the need to be flexible in our service offering and reliable in
                        our attitude and commitment.</p>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-sm-6">
                            <div class="cs-about-card">
                                <div class="icon">
                                    <i class="fa-solid fa-shuffle"></i>
                                </div>
                                <h4>Flexible</h4>
                                <p>Flexibility with carrier options, carrier services, and a freight partner who is
                                    willing to think outside the square to get your product delivered!</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="cs-about-card">
                                <div class="icon">
                                    <i class="fa-solid fa-shield-halved"></i>
                                </div>
                                <h4>Reliable</h4>
                                <p>Reliability does not just relate to carriers; it's critical to who you entrust to
                                    partner with to provide carrier options. Some things in the supply chain can not be
                                    controlled-our dedication in our approach to our customers can be!</p>
                            </div>
                        </div>
                    </div>
                    <button (click)="onClick('contact')" class="default-btn-two">
                        Get Started <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>