<div id="contact" class="cta-area ptb-100">
    <div class="container">
        <div class="cta-content">
            <span class="sub-title">So What is Next?</span>
            <h2>Are You Ready? Let's get to Work!</h2>
            <div class="section-title">
                <p>We are here to support our clients and ensure they get the best customer experience possible.
                    If this is something you would like to explore, please get in contact through the the below options.
                </p>
            </div>
            <a class="default-btn-two" href="tel:0391334061">
                Call Us <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a class="default-btn-two" href="mailto:james@frgroup.com.au">
                Email Us <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>