<div class="cs-banner-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="cs-banner-content">
                    <span class="sub-title">Flexible & Reliable</span>
                    <h1>Logistics Solutions</h1>
                    <p>Helping our customers save time, money & minimise stress through genuine care and the ability to
                        be flexible in our approach
                    </p>
                    <button (click)="onClick('contact')" class="default-btn-two">
                        Contact Us <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="cs-banner-image">
                    <img src="assets/images/cyber-security/banner/logistics.webp" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="cs-lock">
        <img src="assets/images/cyber-security/banner/lock.png" alt="image">
    </div>
</div>