<div id="partners" class="partner-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Carriers</span>
            <h2>Some of the carriers we use and provide advice on:</h2>
            <p>Offering dependable transportation services through their versatile fleet, experienced drivers, and
                established logistics networks, enabling businesses to efficiently move their goods from one location to
                another.</p>
        </div>
        <div class="row align-items-center justify-content-center"
            [ngClass]="{'border': router.url === '/marketing-agency'}">
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/auspost.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/austracold.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/startrack.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/TMD.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/couriers-please.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/toll.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/GTLS.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/Hi-Trans.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/TNT.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/Northline.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/sadleirs.png" alt="partner-image">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                <div class="partner-item">
                    <a href="#" target="_blank">
                        <img src="assets/images/partners/sct.webp" alt="partner-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>