<!-- Sidebar Button -->
<div class="sidebar-btn" [class.active]="classApplied">
    <button (click)="toggleClass()">
        <span>Demos</span>
    </button>
</div>

<!-- Sidebar Demos Popup -->
<div class="sidebar-demos-popup" [class.active]="classApplied">
    <div class="demos-inner">
        <div class="inner-demos">
            <div class="demos-list">
                <h2>Explore All Demos</h2>
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home1.jpg" alt="demo-image">
                            </div>
                            <!-- <span class="new">New</span> -->
                            <a href="https://luaz-ng.envytheme.com/" target="_blank" class="link-btn"></a>
                            <h3>Digital Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home2.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/creative-agency" target="_blank"
                                class="link-btn"></a>
                            <h3>Creative Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home3.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/it-agency" target="_blank" class="link-btn"></a>
                            <h3>IT Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home4.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/marketing-agency" target="_blank"
                                class="link-btn"></a>
                            <h3>Marketing Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home5.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/portfolio-agency" target="_blank"
                                class="link-btn"></a>
                            <h3>Portfolio Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home6.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/studio-agency" target="_blank" class="link-btn"></a>
                            <h3>Studio Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home7.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/business-agency" target="_blank"
                                class="link-btn"></a>
                            <h3>Business Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home8.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/startup-agency" target="_blank" class="link-btn"></a>
                            <h3>Startup Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home9.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/freelancer-portfolio" target="_blank"
                                class="link-btn"></a>
                            <h3>Freelancer Portfolio</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home10.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/software-startup" target="_blank"
                                class="link-btn"></a>
                            <h3>Software Startup</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home11.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/digital-marketing" target="_blank"
                                class="link-btn"></a>
                            <h3>Digital Marketing</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home12.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/business-consulting" target="_blank"
                                class="link-btn"></a>
                            <h3>Business Consulting</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home13.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/app-showcase" target="_blank" class="link-btn"></a>
                            <h3>App Showcase</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home14.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/personal-portfolio" target="_blank"
                                class="link-btn"></a>
                            <h3>Personal Portfolio</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home15.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/saas-startup" target="_blank" class="link-btn"></a>
                            <h3>SaaS Startup</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/demos/home16.jpg" alt="demo-image">
                            </div>
                            <a href="https://luaz-ng.envytheme.com/cyber-security-agency" target="_blank"
                                class="link-btn"></a>
                            <h3>Cyber Security Agency</h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
                        <div class="single-demo-item">
                            <div class="image">
                                <img src="assets/images/coming-soon.jpg" alt="demo-image">
                            </div>
                            <h3>+ More Home Demos</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button (click)="toggleClass()" class="close-btn">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>

<!-- Buy Now -->
<a></a>