.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999;
}

.toggle-container input[type="checkbox"] {
    display: none;
}

.toggle-container label {
    display: block;
    width: 50px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-container label:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: transform 0.3s ease;
}

.toggle-container input[type="checkbox"]:checked+label {
    background-color: #f32121;
}

.toggle-container input[type="checkbox"]:checked+label:before {
    transform: translateX(20px);
}