<div class="cs-card-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-card-content">
                    <h3>1. Full Loads</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-card-content">
                    <h3>2. Bulk Pallets</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-card-content">
                    <h3>3. LTL (Single Pallet Loads) </h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-card-content">
                    <h3>4.Express Cartons</h3>
                </div>
            </div>
        </div>
    </div>
</div>