<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="header_area" style="padding: 0 0">
  <div id="header_navbar" class="header_navbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
              <img
                id="logo"
                style="width: 100px; transition: 0.2s; display: inline-block"
                src="../../assets/icons/FR_logo.svg"
                alt="warehouse"
              />

              <h2 style="display: inline-block; vertical-align: bottom">
                <span class="brand-title">&nbsp; F&R Logistics</span>
              </h2>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse sub-menu-bar"
              id="navbarSupportedContent"
            >
              <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="page-scroll active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#features">Services</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#carriers">Carriers</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="x" href="https://live.machship.com/" target="_blank"
                    >Login</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div id="home" class="header_hero">
    <div
      class="single_hero bg_cover d-flex align-items-center"
      style="
        background-color: #fffe4971;
        background-image: url(assets/images/traffic.jpg);
        min-height: 100vh;

        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div
        class="d-flex align-items-center"
        style="
          min-height: 100%;
          min-width: 100%;
          background: rgba(11, 11, 11, 0.345);
        "
      >
        <div
          class="d-flex align-items-center"
          style="background: rgba(34, 34, 34, 0.525); width: 100%"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <div class="hero_content" style="padding-bottom: 50px">
                  <h4
                    class="hero_sub_title wow fadeInUp"
                    id="hero_sub_title"
                    data-wow-duration="1.3s"
                    data-wow-delay="0.2s"
                    style="color: #ffe497; font-weight: 400"
                  >
                    Flexible & Reliable
                  </h4>
                  <h2
                    class="hero_title wow fadeInUp"
                    data-wow-duration="1.3s"
                    data-wow-delay="0.5s"
                    style="color: #ffe497; justify-items: center"
                  >
                    LOGISTICS SOLUTIONS
                  </h2>
                  <p
                    class="wow fadeInUp"
                    data-wow-duration="1.3s"
                    data-wow-delay="0.8s"
                    style="color: #ffe497"
                  >
                    Helping our customers save time, money & minimise stress
                    through genuine care and the ability to be flexible in our
                    approach
                  </p>
                  <a
                    href="#contact"
                    class="main-btn wow fadeInUp"
                    data-wow-duration="1.3s"
                    data-wow-delay="0.8s"
                    >Contact</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====== SERVICES PART START ======-->

<section
  id="features"
  class="pt-100"
  style="
    background-color: #000000df;
    background-image: url(assets/images/global.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(56, 56, 57, 0.566);
    padding: 5rem;
  "
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center pb-40">
          <div class="line m-auto"></div>
          <h3 class="title" style="color: #ffe497">
            Services
            <!-- <span> Comes with everything you need to get started!</span> -->
          </h3>
        </div>
        <!-- section title -->
      </div>
    </div>
    <!-- row -->
    <div class="row justify-content-center" style="margin-bottom: 40px">
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
        >
          <div class="services-icon">
            <img
              class="shape"
              src="../../assets/images/services-shape.svg"
              alt="shape"
            />
            <img
              class="shape-1"
              src="../../assets/images/services-shape-1.svg"
              alt="shape"
            />
            <!-- <i class="fas fa-forklift"></i> -->
            <i class="fa-solid fa-truck-moving"></i>
            <!-- <i class="lni-baloon"></i> -->
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title">
              <a>Full Loads</a>
            </h4>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <div class="services-icon">
            <img
              class="shape"
              src="../../assets/images/services-shape.svg"
              alt="shape"
            />
            <img
              class="shape-1"
              src="../../assets/images/services-shape-6.svg"
              alt="shape"
            />
            <i class="fa-solid fa-plane"></i>
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title">
              <a>Priority Air</a>
            </h4>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.8s"
        >
          <div class="services-icon">
            <img
              class="shape"
              src="../../assets/images/services-shape.svg"
              alt="shape"
            />
            <img
              class="shape-1"
              src="../../assets/images/services-shape-2.svg"
              alt="shape"
            />
            <i class="fa-solid fa-box-open"></i>
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title">
              <a>Express cartons</a>
            </h4>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
        >
          <div class="services-icon">
            <img
              class="shape"
              src="../../assets/images/services-shape.svg"
              alt="shape"
            />
            <img
              class="shape-1"
              src="../../assets/images/services-shape-4.svg"
              alt="shape"
            />
            <!-- <i class="fas fa-forklift"></i> -->
            <i class="fa-solid fa-at"></i>
            <!-- <i class="lni-baloon"></i> -->
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title">
              <a>E-commerce</a>
            </h4>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
        >
          <div class="services-icon">
            <img
              class="shape"
              src="../../assets/images/services-shape.svg"
              alt="shape"
            />
            <img
              class="shape-1"
              src="../../assets/images/services-shape-5.svg"
              alt="shape"
            />
            <!-- <i class="fas fa-forklift"></i> -->
            <i class="fa-solid fa-truck-fast"></i>
            <!-- <i class="lni-baloon"></i> -->
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title">
              <a>Same day Courier</a>
            </h4>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
        >
          <div class="services-icon">
            <img
              class="shape"
              src="../../assets/images/services-shape.svg"
              alt="shape"
            />
            <img
              class="shape-1"
              src="../../assets/images/services-shape-3.svg"
              alt="shape"
            />
            <!-- <i class="fas fa-forklift"></i> -->
            <i class="fa-solid fa-truck-ramp-box"></i>
            <!-- <i class="lni-baloon"></i> -->
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title">
              <a>Bulk Pallets</a>
            </h4>
          </div>
        </div>
        <!-- single services -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<section
  id="about"
  style="
    background-image: url(assets/images/cs.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
  "
  class="video-counter container-fluid align-items-center"
>
  <div class="row justify-content-center" style="margin: 0 0">
    <div class="col-lg-10">
      <div class="section-title text-center pb-40">
        <div class="line m-auto"></div>
        <h3 class="title">
          About
          <!-- <span> Comes with everything you need to get started!</span> -->
        </h3>
      </div>
      <!-- section title -->
    </div>
  </div>
  <div class="container" style="margin-bottom: 5rem">
    <div class="col-lg-12" id="about" style="vertical-align: middle">
      <div
        style="
          width: 100%;
          padding: 0 0 0 0;
          background-color: #18111116;
          margin: 0 0 0 0;
          -webkit-box-shadow: 0px 5px 5px 0px rgba(167, 167, 167, 0.346);
          -moz-box-shadow: 0px 5px 5px 0px rgba(167, 167, 167, 0.346);
          box-shadow: 0px 5px 5px 0px rgba(167, 167, 167, 0.346);
          border-radius: 5px;
          overflow: hidden;
        "
      >
        <div class="row">
          <div class="col-md-6">
            <div
              class="d-flex col-lg-12 col-md-12 col-sm-12 align-items-center"
              style="max-height: 200vh"
            >
              <div class="d-flex about_content2 align-items-center">
                <div class="section_title" style="text-align: justify">
                  <h4
                    class="title wow fadeInUp"
                    data-wow-duration="1.3s"
                    data-wow-delay="0.2s"
                    style="color: #0e0e0e"
                  >
                    About F&R Logistics
                  </h4>
                  <br />

                  <p
                    class="wow fadeInUp"
                    data-wow-duration="1.3s"
                    data-wow-delay="0.6s"
                    style="color: #000000; padding-bottom: 20px"
                  >
                    With 10+ years of experience spread across the interstate
                    carrier, same-day local courier, and freight management
                    industries, our experience equips us to help our clients
                    navigate the stresses and complexities of the supply chain.
                  </p>
                  <p
                    class="wow fadeInUp"
                    data-wow-duration="1.3s"
                    data-wow-delay="0.6s"
                    style="color: #000000; padding-bottom: 20px"
                  >
                    The recent past has emphasised the need to be flexible in
                    our service offering and reliable in our attitude and
                    commitment.
                  </p>
                  <ul
                    class="wow fadeInUp"
                    data-wow-duration="1.3s"
                    data-wow-delay="0.6s"
                    style="
                      color: #000000;
                      padding-bottom: 20px;
                      padding-left: 0px;
                    "
                  >
                    <li>
                      Flexibility with carrier options, carrier services, and a
                      freight partner who is willing to think outside the square
                      to get your product delivered!
                    </li>
                    <li>
                      Reliability does not just relate to carriers; it's
                      critical to who you entrust to partner with to provide
                      carrier options. Some things in the supply chain can not
                      be controlled-our dedication in our approach to our
                      customers can be!
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div
              class="test"
              style="
                background-image: url(assets/images/hr2.jpg);
                background-position: top center;
                background-color: #ffe497;
                width: 100%;
                height: 100%;

                background-size: auto 100%;
                margin: 0 0 0 0;
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" width="100%">
    <div class="col-lg-12" id="about" style="vertical-align: middle">
      <div
        class="row col-12 mb-5"
        style="
          width: 100%;
          padding: 0 0 0 0;
          background-color: #18111116;
          margin: 0 0 0 0;
          -webkit-box-shadow: 0px 5px 5px 0px rgba(167, 167, 167, 0.346);
          -moz-box-shadow: 0px 5px 5px 0px rgba(167, 167, 167, 0.346);
          box-shadow: 0px 5px 5px 0px rgba(167, 167, 167, 0.346);
          border-radius: 5px;
          overflow: hidden;
        "
      >
        <div
          class="d-flex col-lg-12 col-md-12 col-sm-12 align-items-center"
          style="max-height: 100vh"
        ></div>
        <div
          class="d-flex col-lg-12 col-md-12 col-sm-12 align-items-center"
          style="min-height: 100vh"
        >
          <div class="d-flex about_content2 align-items-center">
            <div
              class="section_title"
              style="padding: 50px 50px 50px 50px; text-align: justify"
            >
              <h4
                class="title wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.2s"
                style="color: #0b0b0b; padding-bottom: 5rem 5rem"
              >
                Why F&R Logistics?
              </h4>
              <br />
              <div
                class="row justify-content-center"
                style="margin-bottom: 40px"
              >
                <div class="col-lg-4 col-md-7 col-sm-8">
                  <div
                    class="single-services text-center mt-30 wow fadeIn"
                    data-wow-duration="1s"
                    data-wow-delay="0.2s"
                  >
                    <div class="services-icon">
                      <img
                        class="shape"
                        src="../../assets/images/services-shape.svg"
                        alt="shape"
                      />
                      <img
                        class="shape-1"
                        src="../../assets/images/services-shape-1.svg"
                        alt="shape"
                      />
                      <!-- <i class="fas fa-forklift"></i> -->
                      <i class="fa-solid fa-people-group"></i>
                      <!-- <i class="lni-baloon"></i> -->
                    </div>
                    <div class="services-content mt-30">
                      <h4 class="services-title">
                        <a>Team</a>
                      </h4>
                      <a
                        class="more"
                        data-toggle="collapse"
                        href="#collapseExample1"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample1"
                        >Learn More <i class="fa-solid fa-chevron-right"></i>
                      </a>
                      <span class="collapse" id="collapseExample1">
                        <p style="color: #111">
                          Dedicated, experienced and passionate. Client
                          satisfaction is the core of everything we do.
                        </p></span
                      >
                    </div>
                  </div>
                  <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                  <div
                    class="single-services text-center mt-30 wow fadeIn"
                    data-wow-duration="1s"
                    data-wow-delay="0.5s"
                  >
                    <div class="services-icon">
                      <img
                        class="shape"
                        src="../../assets/images/services-shape.svg"
                        alt="shape"
                      />
                      <img
                        class="shape-1"
                        src="../../assets/images/services-shape-6.svg"
                        alt="shape"
                      />
                      <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <div class="services-content mt-30">
                      <h4 class="services-title">
                        <a>Carrier Partnership</a>
                      </h4>
                      <a
                        class="more"
                        data-toggle="collapse"
                        href="#collapseExample2"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample"
                        >Learn More <i class="fa-solid fa-chevron-right"></i>
                      </a>
                      <span class="collapse" id="collapseExample2">
                        <p style="color: #111">
                          With over 100 suppliers, we are well equipped to
                          provide you flexibility in your carrier options.
                        </p></span
                      >
                    </div>
                  </div>
                  <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                  <div
                    class="single-services text-center mt-30 wow fadeIn"
                    data-wow-duration="1s"
                    data-wow-delay="0.8s"
                  >
                    <div class="services-icon">
                      <img
                        class="shape"
                        src="../../assets/images/services-shape.svg"
                        alt="shape"
                      />
                      <img
                        class="shape-1"
                        src="../../assets/images/services-shape-3.svg"
                        alt="shape"
                      />
                      <i class="fa-solid fa-computer"></i>
                    </div>
                    <div class="services-content mt-30">
                      <h4 class="services-title">
                        <a>Technology</a>
                      </h4>
                      <a
                        class="more"
                        data-toggle="collapse"
                        href="#collapseExample3"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample3"
                        >Learn More <i class="fa-solid fa-chevron-right"></i>
                      </a>
                      <span class="collapse" id="collapseExample3">
                        <p style="color: #111">
                          Machship allows you to consign, manifest, manage
                          rates, quote, track, reconcile invoices and tailor
                          reporting.
                        </p></span
                      >
                    </div>
                  </div>
                  <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                  <div
                    class="single-services text-center mt-30 wow fadeIn"
                    data-wow-duration="1s"
                    data-wow-delay="0.2s"
                  >
                    <div class="services-icon">
                      <img
                        class="shape"
                        src="../../assets/images/services-shape.svg"
                        alt="shape"
                      />
                      <img
                        class="shape-1"
                        src="../../assets/images/services-shape-4.svg"
                        alt="shape"
                      />
                      <!-- <i class="fas fa-forklift"></i> -->
                      <i class="fa-solid fa-clock"></i>
                      <!-- <i class="lni-baloon"></i> -->
                    </div>
                    <div class="services-content mt-30">
                      <h4 class="services-title">
                        <a>Save Time</a>
                      </h4>
                      <a
                        class="more"
                        data-toggle="collapse"
                        href="#collapseExample4"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample4"
                        >Learn More <i class="fa-solid fa-chevron-right"></i>
                      </a>
                      <span class="collapse" id="collapseExample4">
                        <p style="color: #111">
                          Minimise admin requirements & processes, whilst still
                          accessing a large range of carriers. Ideal for
                          training new staff members & multiple users.
                        </p></span
                      >
                    </div>
                  </div>
                  <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                  <div
                    class="single-services text-center mt-30 wow fadeIn"
                    data-wow-duration="1s"
                    data-wow-delay="0.2s"
                  >
                    <div class="services-icon">
                      <img
                        class="shape"
                        src="../../assets/images/services-shape.svg"
                        alt="shape"
                      />
                      <img
                        class="shape-1"
                        src="../../assets/images/services-shape-5.svg"
                        alt="shape"
                      />
                      <!-- <i class="fas fa-forklift"></i> -->
                      <i class="fa-solid fa-hand-holding-dollar"></i>
                      <!-- <i class="lni-baloon"></i> -->
                    </div>
                    <div class="services-content mt-30">
                      <h4 class="services-title">
                        <a>Reduce Costs</a>
                      </h4>
                      <a
                        class="more"
                        data-toggle="collapse"
                        href="#collapseExample5"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample5"
                        >Learn More <i class="fa-solid fa-chevron-right"></i>
                      </a>
                      <span class="collapse" id="collapseExample5">
                        <p style="color: #111">
                          Access competitive wholesale rates without exerting
                          time and effort of negotiating directly with carriers.
                        </p></span
                      >
                    </div>
                  </div>
                  <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                  <div
                    class="single-services text-center mt-30 wow fadeIn"
                    data-wow-duration="1s"
                    data-wow-delay="0.2s"
                  >
                    <div class="services-icon">
                      <img
                        class="shape"
                        src="../../assets/images/services-shape.svg"
                        alt="shape"
                      />
                      <img
                        class="shape-1"
                        src="../../assets/images/services-shape-2.svg"
                        alt="shape"
                      />
                      <!-- <i class="fas fa-forklift"></i> -->
                      <i class="fa-solid fa-user-tie"></i>
                      <!-- <i class="lni-baloon"></i> -->
                    </div>
                    <div class="services-content mt-30">
                      <h4 class="services-title">
                        <a>Account Management</a>
                      </h4>
                      <a
                        class="more"
                        data-toggle="collapse"
                        href="#collapseExample6"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample6"
                        >Learn More <i class="fa-solid fa-chevron-right"></i>
                      </a>
                      <span class="collapse" id="collapseExample6">
                        <p style="color: #111">
                          Personalised, proactive, reliable & most importantly
                          the same person - not constantly chopping and
                          changing.
                        </p>
                      </span>
                    </div>
                  </div>
                  <!-- single services -->
                </div>
              </div>
              <!-- row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #ffe39756; max-height: 100vh">
  <div
    class="brand-area pt-100"
    style="max-height: 100vh; margin-bottom: 0"
    id="carriers"
  >
    <div class="container d-flex align-items-center pb-0">
      <div class="row align-items-center justify-content-center">
        <div class="section-title" style="padding-bottom: 5%">
          <div class="line"></div>
          <h4>Some of the carriers we use and provide advice on:</h4>
        </div>
        <br />
        <div style="max-width: 70vw; max-height: 70vh">
          <div class="col-lg-12 align-items-center">
            <div
              class="brand-logo d-flex align-items-center justify-content-center justify-content-md-between pb-40"
            >
              <div
                class="single-logo mt-30 wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.2s"
              >
                <img src="../../assets/images/Toll@2x.png" alt="brand" />
              </div>
              <!-- single logo -->
              <div
                class="single-logo mt-30 wow fadeIn col-3"
                data-wow-duration="1.5s"
                data-wow-delay="0.2s"
              >
                <img
                  src="../../assets/images/partners/star-new1 (1).png"
                  alt="brand"
                />
              </div>
              <!-- single logo -->
              <div
                class="single-logo mt-30 wow fadeIn col-3"
                data-wow-duration="1.5s"
                data-wow-delay="0.3s"
              >
                <img
                  src="../../assets/images/Hi-trans-Express@2x.png"
                  alt="brand"
                />
              </div>
              <!-- single logo -->
              <div
                class="single-logo mt-30 wow fadeIn"
                data-wow-duration="1.5s"
                data-wow-delay="0.4s"
              >
                <img
                  src="../../assets/images/Couriers-Please@2x.png"
                  alt="brand"
                />
              </div>
              <!-- single logo -->

              <!-- single logo -->
            </div>
            <!-- brand logo -->
          </div>
          <div class="col-lg-12 align-items-center pb-40">
            <div
              class="brand-logo d-flex align-items-center justify-content-center justify-content-md-between"
            >
              <div
                class="single-logo mt-30 wow fadeIn col-3"
                data-wow-duration="1s"
                data-wow-delay="0.2s"
              >
                <img
                  src="../../assets/images/Australia-Post@2x.png"
                  alt="brand"
                />
              </div>
              <!-- single logo -->
              <div
                class="single-logo mt-30 wow fadeIn col-3"
                data-wow-duration="1.5s"
                data-wow-delay="0.2s"
              >
                <img
                  src="../../assets/images/partners/34308f60-5461-11ea-add4-11709095840b.png"
                  alt="brand"
                />
              </div>
              <!-- single logo -->
              <div
                class="single-logo mt-30 wow fadeIn col-3"
                data-wow-duration="1.5s"
                data-wow-delay="0.3s"
              >
                <img
                  src="../../assets/images/partners/5842918ea6515b1e0ad75ac9 (1) (1).png"
                  alt="brand"
                />
              </div>
              <!-- single logo -->
              <div
                class="single-logo mt-30 wow fadeIn col-3"
                data-wow-duration="1.5s"
                data-wow-delay="0.4s"
              >
                <img src="../../assets/images/partners/nl.png" alt="brand" />
              </div>
              <!-- single logo -->

              <!-- single logo -->
            </div>
            <!-- brand logo -->
          </div>
          <div class="row">
            <div class="col-lg-12 align-items-center pb-40">
              <div
                class="brand-logo d-flex align-items-center justify-content-center justify-content-md-between"
              >
                <div
                  class="single-logo mt-30 wow fadeIn col-3"
                  data-wow-duration="1s"
                  data-wow-delay="0.2s"
                >
                  <img
                    src="../../assets/images/partners/GTLS_Logo_2020_reverse-300x156__1_-removebg-preview.png"
                    alt="brand"
                  />
                </div>
                <!-- single logo -->
                <div
                  class="single-logo mt-30 wow fadeIn col-3"
                  data-wow-duration="1.5s"
                  data-wow-delay="0.2s"
                >
                  <img
                    src="../../assets/images/partners/sct-logistics-vector-logo-small__1_-removebg-preview.png"
                    alt="brand"
                    max-height="100px"
                  />
                </div>
                <!-- single logo -->
                <div
                  class="single-logo mt-30 wow fadeIn col-3"
                  data-wow-duration="1.5s"
                  data-wow-delay="0.3s"
                >
                  <img
                    src="../../assets/images/partners/sadleirs.png"
                    alt="brand"
                  />
                </div>
                <!-- single logo -->
                <div
                  class="single-logo mt-30 wow fadeIn"
                  data-wow-duration="1.5s"
                  data-wow-delay="0.4s"
                >
                  <img
                    src="../../assets/images/partners/9893339a1c6e67404fc806f3e25c45b3_200x181__1_-removebg-preview.png"
                    alt="brand"
                  />
                </div>
                <!-- single logo -->

                <!-- single logo -->
              </div>
              <!-- brand logo -->
            </div>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</section>

<section
  id="contact"
  class="contact_area bg_cover pt-100"
  style="
    background-color: rgba(30, 30, 35, 0.349);
    margin-top: 10px;
    background-image: url(assets/images/traffic.jpg);
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <h3 style="color: aliceblue">GET STARTED TODAY</h3>
          <p style="font-size: medium; color: aliceblue">
            We've proven in the past to build freight networks that work. Why
            not let your business be the next one to benefit.
          </p>

          <p style="font-size: medium; color: aliceblue">
            Leave your details and we’ll prove it.
          </p>
          <br /> -->
        <div class="section_title section_title_2 pb-25">
          <h4
            class="title wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.2s"
            style="color: #ffe497"
          >
            Contact Us
          </h4>
        </div>
        <div class="section_title section_title_2 pb-25">
          <p
            style="
              font-size: medium;
              color: #ffe497;
              margin-bottom: 20px;
              margin-top: 20px;
            "
          >
            For all enquiries please call
            <a href="tel:91334047" style="color: #ffe497"> 03 9133 4061</a>.
          </p>
          <p
            style="
              font-size: medium;
              color: #ffe497;
              margin-bottom: 70px;
              line-height: 2;
            "
          >
            We are here to support our clients and ensure they get the best
            customer experience possible. <br />If this is something you would
            like to explore, please get in contact through the the below
            options.
          </p>
          <a
            href="tel:03 9133 4061"
            class="main-btn wow fadeInUp mr-5"
            data-wow-duration="1.3s"
            data-wow-delay="0.8s"
            >Call us</a
          >

          <a
            href="mailto:james@frgroup.com.au"
            class="main-btn wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.8s"
            >Email us</a
          >
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="footer_area" style="background-color: #ffe497">
  <div class="container">
    <div
      class="row pt-50"
      style="
        background-color: #ffe497;
        width: 99.5vw;
        position: relative;
        margin-left: -50vw;

        left: 50%;
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 justify-content-center text-center">
            <div class="footer-logo">
              <a class="brand" href="#">
                <img
                  id="logo-footer"
                  src="../../assets/images/FRL_logo_black.png"
                  alt="Logo"
                  style="
                    width: 120px;
                    margin: 30px 0 10px 0;
                    align-self: center;
                  "
                />
              </a>
            </div>
            <h1
              class="hero_title wow fadeInUp"
              data-wow-duration="1.3s"
              data-wow-delay="0.5s"
              style="color: #111; text-align: center; margin-bottom: 10px"
            >
              F&R Logistics
            </h1>
            <h4
              class="hero_title wow fadeInUp"
              data-wow-duration="1.3s"
              data-wow-delay="0.5s"
              style="color: #111; text-align: center"
            >
              We take care of your freight requirements whilst you continue to
              grow!
            </h4>
            <p
              class="hero_title wow fadeInUp"
              data-wow-duration="1.3s"
              data-wow-delay="0.5s"
              style="color: #ffe497; text-align: center"
            ></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>

          <div class="col-lg-10">
            <p
              style="
                text-align: center;
                padding: 0 30px 0 30px;
                color: rgba(11, 11, 11, 0.565);
                padding-bottom: 30px;
                align-self: center;
                margin-top: 30px;
              "
            >
              F & R Logistics Pty Ltd ACN 659 678 145 is not a common carrier.
              All services and quotations are provided subject to our standard
              conditions of carriage that are available
              <a
                href="..\..\assets\docs\Conditions of Carriage (F & R Logistics).pdf"
                target="_blank"
                style="color: #000000"
                >here</a
              >
              and are also available on request from our office. If you are
              operating a business, these conditions provide that the goods will
              be at your sole risk and our services are priced on this basis and
              that we will not be liable for any loss of or damage to the goods
              or any other losses you suffer, regardless of the cause of such
              loss or damage. You should arrange your own insurance cover over
              the goods. Quotations are valid for 14 days from the date of issue
              unless otherwise stated in the quotation. Final charges for a
              consignment are subject to actual dimensions and weight.
            </p>
          </div>
        </div>
      </div>
    </div>
    <p
      style="
        text-align: center;
        color: rgba(11, 11, 11, 0.565);
        align-self: center;
      "
    >
      F&R Logistics Pty Ltd
    </p>
  </div>
</footer>

<a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>
