<!-- Default Navbar -->
<nav class="navbar-area navbar navbar-expand-lg bg-light" [class.active]="classApplied"
    [ngClass]="{'color-white': router.url === '/creative-agency' || router.url === '/it-agency' || router.url === '/studio-agency' || router.url === '/saas-startup' || router.url === '/cyber-security-agency', 'sticky': isSticky}">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <span><img src="assets/images/FR_logo.png" alt="logo">
                <h2> F&R Logistics</h2>
            </span>
        </a>

        <button class="navbar-toggler" type="button" (click)="toggleClass()">
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('home')">Home</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('about')">About Us</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('services')">Services</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('why')">Why us?</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('partners')">Carriers</span>
                </li>

                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('contact')">Contact Us</span>
                </li>
            </ul>
            <div class="others-options">
                <a href="https://live.machship.com/" target="_blank"><button class="default-btn">
                        Login
                    </button></a>

            </div>
        </div>

    </div>
</nav>