<div class="cs-partner-area ptb-100">
    <div class="container-fluid">
        <div class="section-title">
            <span class="sub-title">Our Clients</span>
            <h2>Some of the carriers we use and provide advice on:</h2>
        </div>
        <div class="cs-partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/auspost.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/austracold.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/capital.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/coldexpress.webp" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/Coolway.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/couriers-please.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/Fedex.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/GTLS.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/Hi-Trans.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/KINGS.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/Northline.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/cyber-security/partner/sadleirs.png" alt="image">
                        </a>
                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>
    </div>
</div>